/* 
        Screen Sizes::
        320px
        480px

        600px
        768px
        
        900px
        1024px
*/
/* Media Queries */

/* 320px - Small Mobile Phones */
@media (max-width: 320px) {
      
      }
      /* custom for iphone screens */
@media (max-width: 360px) {
  .download-section .app-download-buttons a{
    width: fit-content;
}
.download-section .app-download-buttons .text span:first-child{
  padding-right: 0.5rem;
}
      .iphone-section{
        /* background-color: red; */
        height: 20.25rem;
    } 
    .iphone-container {
            height: 20.25rem;
            /* background-color: blue; */
        }
    .screen-one .imgContainer-c{
        width: 135px;
    }
    .iphone-screen .imgContainer{
      width: 101.25px;
    }
    .iphone-screen .imgContent:not(.center-img) {
      height: 192.375px;
      top: 6.75px;
      left: -16.875px;
      width: 135px; /* Ensures it covers the entire screen */
        }
    .center-img{
      height: 259.875px;  
      width: 270px; 
      top: 6.75px;
      left: -67.5px;
    }
    .vector-bg .v-img{
      height: 229.5px;
    }        
    .payment-container .navBtn{
        width: 5rem;
        font-size: smaller;
    }
  .steps-instruction .steps-container{
      gap: 1rem;
  }
  .steps-container * {
    gap: .75rem;
  }
  .steps-container span {
    font-weight: 500;
    font-size: var(--fs-small);
    height: 30px;
    width: 30px;
  }
    }
    
      /* 480px - Larger Mobile Phones */
@media (max-width: 480px) {
  header{
    padding: 2rem;
  }
  header .logo{
    width: 8rem;
    flex-grow: 0;
  }
  .account-management-section{
    padding-inline: 1.5rem;
  }
  .payment-container{
    margin-inline: 1.5rem;
  }
  .sign-up-section{
    margin-inline: 1.5rem;
  }
  .chat-box-container{
    margin-inline: 1.5rem !important;
  }
  .footer-wrapper{
    padding:none;
  }
  .download-section h4{
  padding: .6rem;
  font-size: smaller;
  margin-bottom: 3rem;
  }
  .download-section .app-download-buttons{
      gap: .6rem;
      /* background-color: red; */
  }
  .download-section .app-download-buttons .text span:first-child{
      font-size: 10px;
  }
  .download-section .app-download-buttons .text span:last-child{
      font-size: var(--fs-medium);
  }
  .download-section .app-download-buttons a{
      /* width: 9rem; */
      gap: .8rem;
  }
  .download-section .app-download-buttons a:not(a:last-child){
    padding: .6rem 0;
    gap: .1rem;
  }
  .download-section .app-download-buttons a img:not(.a-app-icon){
    width: 30px;
  }
  .download-section .rating-section {
      flex-direction: column;
      gap: 4px;
      /* background-color: red; */
  }
  .download-section    .rating-summary {
      font-size: 14px;
      /* background-color: aqua; */
  }
  .download-section   .star-icon {
      width: 14px;
      height: 14px;
      background-color: aliceblue;
  }
  .download-section   .rating-reviews {
        font-size: 12px;
        /* background-color: aqua; */
        margin-bottom: 1rem;
  }
    .iphone-section{
      /* background-color: red; */
      height: 22.5rem;
  } 
  .iphone-container {
          height: 22.5rem;
          /* background-color: blue; */
  }
  .screen-one .imgContainer-c{
      width: 150px;
  }
  .iphone-screen .imgContainer{
              width: 112.5px;                      
  }
  .iphone-screen .imgContent:not(.center-img) {
    height: 213.75px;
    top: 7.5px;
    left: -18.75px;
    width: 150px; /* Ensures it covers the entire screen */
  }
  .center-img{
    height: 288.75px;  
    width: 300px; 
    top: 7.5px;
    left: -75px;
  }
  .vector-bg .v-img{
        height: 255px;
  }
    /* customer service */
    .chat-box-container .chat-icons img:first-child{
      width: 240px;
  }
  .chat-box-container .chat-icons img:nth-child(2){
      /* background-color: aqua; */
      top: 0.75rem;left: 1.5rem;
      width: 67.5px;
  }
  .chat-box-container .chat-icons img:nth-child(3){
      /* background-color: aqua; */
      top: 4.5rem;left: 9.188rem;
      width: 75px;
  }

  /* footer */
  footer{
    padding: 2rem 2rem;
  }
  .footer-wrapper{
    padding: 0 2rem;
  }
  .footer-wrapper .footer-navigation{
    text-align: left !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-inline: 0 !important;
  }
  .footer-wrapper .legal-section {
    flex-direction: column;
    gap: 1.6rem;
    /* background-color: red; */
  }
  .footer-wrapper .legal-section .footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
  .footer-wrapper .legal-section .footer-left .footer-legal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-wrapper .legal-section .footer-copyright{
    /* background-color: red; */
    display: flex;
    text-align: center;
    /* padding: 0 2rem; */
  }
  .legal-section .footer-social-media{
    gap: 1rem;
  }
  }
  
  /* 600px - Tablets in Portrait */
  @media (max-width: 600px) {
    footer{
      padding: 1rem 1rem;
    }
    .footer-wrapper .footer-navigation{
      display: flex;
    }
    .footer-wrapper .legal-section {
      flex-direction: column;
      gap: 1.6rem;
      /* background-color: red; */
    }
    .footer-wrapper .legal-section .footer-left{
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      align-items: center;
    }
    .footer-wrapper .legal-section .footer-left .footer-legal{
      display: flex;
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
    }
    .footer-wrapper .legal-section .footer-copyright{
      /* background-color: red; */
      display: flex;
      text-align: center;
      /* padding: 0 2rem; */
    }
    .footer-wrapper .legal-section .footer-left{
      gap: 1.2rem;
    }
    .legal-section .footer-social-media{
      gap: 1rem;
    }
      }
      
      /* 768px - Tablets in Landscape */
@media (max-width: 768px) {     
  header .nav-toggle{
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* background-color: var(--pry-clr); */
    /* background-color: red; */
  }
  header .nav-toggle span{
    /* display: block; */
    height: 5px;
    width: 100%;
    background-color: var(--sec-clr);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  header .nav-toggle span:first-child{
    top: 25%;
  }
  header .nav-toggle span:last-child{
    top: 75%;
  }
  header .navBar{
          display: none;
  }
  header .off-screen-navBar{
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    /* font-size: 3rem; */
    transition: .3s ease;
  }
  header .off-screen-navBar.active{
    right: 0;
  }
  header .nav-toggle.active span{
    background-color: var(--sec-clr);
    z-index: 3000;
  }
  header .nav-toggle.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
header .nav-toggle.active span:nth-child(2) {
    opacity: 0;
}
header .nav-toggle.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
  /* header ends */

  /* section: account management tabs */
.tabs-container{
          flex-direction: column;
          gap: 1rem;
}
  .tab{
    height: fit-content;
          border-radius: .6rem;
  }
/* sign up section */
.sign-up-container{
  position: relative;
    height: 500px;
    /* display: block; */
    justify-content: center;
    padding: 0;
  }
  .sign-up-container .image-illustration{
    position: absolute;
    /* background-color: red; */
    /* margin: 0 auto; */
      /* left: 2rem; */
      bottom: 0;
      /* width: 200px; */
  }
  .image-illustration .imgContainer{
    width: 250px;
  }
  .image-illustration .imgContent{
    width: 230px;
    /* left: .8rem; */
  }
  .sign-up-container .steps-instruction{
    position: absolute;
    width: 100%;
    /* background-color: aqua; */
    /* margin: 0 auto; */
    top: 1rem;left: 0;
    font-weight: 700;
    font-size: var(--fs-medium);
    display: flex;
    text-align: center;
    align-items: center;
    
  }
  .steps-instruction h3{
    font-size: var(--fs-lrg);
  }

  /* customer service */
  .chat-box-container{
    position: relative;
    border-radius: .6rem;
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    /* padding-left: 2rem; */
    overflow: hidden;
  }
  .chat-box-container .chat-box-text{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chat-box-container .chat-icons h3{
      display: flex;
      justify-content: center;
  }
  .chat-box-container .chat-box-text{
    /* background-color: red; */
    width: 100%;
    justify-content: center;
  }
  .chat-box-container .chat-box-image-illustration{
    width: 100%;
    display: flex;
    justify-content: end;
    /* align-self: end; */
    /* background-color: red; */
  }
  .chat-box-container .v-three{
    transform: translate(0%, 10%);
  }
  /* footer */
  footer{
    /* background-color: var(--pry-clr); */
    padding: 2rem 3rem;
  }
  .footer-wrapper{
    display: flex;
    justify-content: center;
    /* background-color: red; */
  }
  .footer-wrapper .footer-navigation{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
  }
  .footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
  }
}
      
      /* 1024px - Standard Laptops and Small Desktops */
      @media (max-width: 1024px) {
      }